<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.care.root.mybatis.FileMapper">
	<resultMap type="com.care.root.dto.FileDTO" id="files">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="imgFileName" column="img_name" />
		
	</resultMap>
	<insert id="save"> 
		insert into file_image values(#{id}, #{name}, #{imgFileName})
	</insert>
	
	<select id="getList" resultMap="files">
		select * from file_image
	</select>
	
	<delete id="delete">
		delete from file_image where id=#{id}
	</delete>

</mapper>